.campaign h1{
  font-size: 3em;
}

.campaign{
  padding-top: 15px!important;
}

.jumbotron p{
  padding-top: 30px;
  font-size: 1.25em;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
